
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/#">Unser Dorfladen</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/#">Start <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/clo_login">Anmeldung</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">Profilseite</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/clo_shop">Dorfladen</a>
          </li>
         
          <li class="nav-item">
              <a class="nav-link" href="/clo_gruppen">Gruppen&uuml;bersicht</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Suchbegriff">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suchen</button>
        </form>
      </div>
    </nav>