
<% layout( 'layout' ) -%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Ooops... die gew&uuml;nschte Seite können wir leider nicht finden.</h1>
        <p class="text-center"><a href="/">Hier geht es zur&uuml;ck zur Startseite.</a></p>
        </div>
    </div>

  