
<% layout( 'layout' ) -%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Anmeldung registrierter Benutzer</h2>
          <p>
            Bitte melden Sie sich hier mit Ihren Benutzerdaten an </p> 
          <p><a class="btn btn-secondary" href="clo_anmelden" role="button">Anmelden &raquo;</a></p>
          <h2>Registrierung neuer Benutzer</h2>
          <p>
          Sie haben noch kein Benutzerkonto? Melden Sie sich hier einfach an </p> 
          <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Email:</label>
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" placeholder="Email-Adresse hier eingeben">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Password:</label>
                  <div class="col-sm-6"> 
                    <input type="password" class="form-control" id="pwd" placeholder="Passwort hier eingeben">
                  </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd2">Password wiederholen:</label>
                        <div class="col-sm-6"> 
                          <input type="password" class="form-control" id="pwd2" placeholder="Passwort wiederholen">
                        </div>
                      </div>
                      <div class="form-group">
                            <label class="control-label col-sm-2" for="vorname">Vorname</label>
                            <div class="col-sm-6"> 
                              <input type="vorname" class="form-control" id="vorname" placeholder="Vornamen hier eingeben">
                            </div>
                          </div>
                          <div class="form-group">
                                <label class="control-label col-sm-2" for="nachname">Nachname:</label>
                                <div class="col-sm-6"> 
                                  <input type="nachname" class="form-control" id="nachname" placeholder="Nachnamen hier eingeben">
                                </div>
                         </div>
                         <div class="form-group">
                                    <label class="control-label col-sm-2" for="BDate">Geburtstag:</label>
                                    <div class="col-sm-6"> 
                                      <input type="BDate" class="form-control" id="BDate" placeholder="Geburtsdatum hier eingeben">
                                    </div>
                         </div>
                         <div class="form-group">
                                        <label class="control-label col-sm-2" for="gender">Anrede (Herr/Frau):</label>
                         <div class="col-sm-6"> 
                                          <input type="gender" class="form-control" id="gender" placeholder="Anrede (Herr/Frau) hier eingeben">
                                        </div>
                        </div>
                <div class="form-group"> 
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label><input type="checkbox"> Erinnere dich an mich.</label>
                    </div>
                  </div>
                </div>
                <div class="form-group"> 
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Neues Benutzerkonto anlegen</button>
                  </div>
                </div>
              </form>  
        </div>
      </div> 
    </div> <!-- /container -->