
<% layout( 'layout' ) -%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        
                <div class="col-md-4">
                <h3>Bananen </h3>
                <img src="https://de.wikipedia.org/wiki/Datei:Bananas.jpg" class="image-rounded" width="150" height="150">
                <h4>Bananen</h4> 
                <p>Kilo 1.99€</p>
                </div>
               <div class="col-md-4">
                <h3>Apfelsinen </h3>
                <img src="https://de.wikipedia.org/wiki/Datei:Bananas.jpg" class="image-rounded" width="150" height="150">
                <h4>Apfelsinen</h4> 
                <p>Kilo 2.99€</p>
                </div>   
                 <div class="col-md-4">
                <h3>Kokosnuss </h3>
                <img src="https://de.wikipedia.org/wiki/Datei:Bananas.jpg" class="image-rounded" width="150" height="150">
                <h4>Kokosnuss</h4> 
                <p>St&uuml;ck 1.99€</p>
                </div>                           
        
      </div> 
    </div> <!-- /container -->