
<% layout( 'layout' ) -%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Anmeldung registrierter Benutzer</h2>
          <p>
            Bitte melden Sie sich hier mit Ihren Benutzerdaten an </p> 
          <p><a class="btn btn-secondary" href="clo_anmelden" role="button">Anmelden &raquo;</a></p>
          <h2>Registrierung neuer Benutzer</h2>
          <p>
          Sie haben noch kein Benutzerkonto? Melden Sie sich hier einfach an </p> 
          <p><a class="btn btn-secondary" href="clo_registrieren" role="button">Neues Benutzerkonto anlegen &raquo;</a></p>
        </div>
      </div> 
    </div> <!-- /container -->