
<% layout( 'layout' ) -%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p>Sie befinden sich in einem virtuellen Dorfladen. Hier können Sie nicht nur einfach einkaufen, sondern auch mit der Community gemeinsma shoppen.</p>
        <p>Sie können auch ohne die Community direkt zum Dorfladen gehen:</p>
        <p><a class="btn btn-primary btn-lg" href="/clo_shop" role="button">Direkt zum Dorfladen &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Der Dorfladen</h2>
          <p>Hier findet man digital alles, was man zum Leben benötigt. Ein kleiner, aber feiner digitaler Laden. </p>
          <p><a class="btn btn-secondary" href="/clo_shop" role="button">Zum Dorfladen &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Die Comunity</h2>
          <p>Gemeinsam wird hier der Einkauf zu einem Erlebnis. Zusammen kann man besser einkaufen, als allein. </p>
          <p><a class="btn btn-secondary" href="/clo_login" role="button">Anmelden &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Über Uns</h2>
          <p>Der Dorfladen ist ein Forschungsprojekt der FernUniversität in Hagen. 
            Diese Anwendung enstetht im Fachpraktikum.
          </p>
          <p><a class="btn btn-secondary" href="/clo_about" role="button">&Uuml;ber uns &raquo;</a></p>
        </div>
      </div>